<p>
    <%= link_to "Back to orders list", orders_path(selected_date: @date) %>
</p>
<%= form_tag ({controller: "loads", action: "set_route"}) do %>
    <h3>
      Set sequence of stops for delivery on <%= @load.delivery_date %>, <%= @load.name %>
    </h3>
    <%= submit_tag("Save sequence of stops") %>

    <table>
      <tr>
        <th>Stop #</th>
        <th>State</th>
        <th>City</th>
        <th>Address</th>
        <th>Volume</th>
        <th>Type</th>
      </tr>
    <% @orders.each do |order| %>
        <% address = order.address %>
        <tr>
          <td><%= text_field_tag(address.id, order.stop_num, maxlength: 4, size: 1 ) %></td>
          <td><%= address.state %></td>
          <td><%= address.city %></td>
          <td><%= address.raw_line %></td>
          <td><%= order.volume %></td>
          <td><%= order.order_type %></td>
        </tr>
    <% end %>
    </table>

<% end %>