<div class="row">
  <div class="col-sm-2">
    <h3>Load orders:</h3>
    <%= form_tag({action: :upload_orders}, multipart: true, role: "form") do %>
        <div class="form-group">
            <input type="file" class="form-control" data-bfi-disabled data-filename-placement="inside">
            <%= submit_tag("Upload", class: "form-control") %>
        </div>
    <% end %>
    <p>
      <%= link_to "New Delivery Order", new_order_path(date: @selected_date), class: "btn btn-success" %>
    </p>
    <h3>Select date:</h3>
    <div class="list-group" align="center">
      <% @order_dates.each do |order| %>
          <%= link_to order.desired_date.to_s, orders_path(selected_date: order.desired_date), class: (order.desired_date.to_s == @selected_date ? "list-group-item active" : "list-group-item") %>
      <% end %>
    </div>
  </div>
  <div class="col-sm-10">
    <%
       m_load = @morning_load.get_available_volume
       n_load = @afternoon_load.get_available_volume
       e_load = @evening_load.get_available_volume
    %>
    <h3>Available volume in Loads</h3>
    <table>
      <tr>
        <th><%= link_to @morning_load.name, edit_load_path(@morning_load) %></th>
        <th><%= link_to @afternoon_load.name, edit_load_path(@afternoon_load) %></th>
        <th><%= link_to @evening_load.name, edit_load_path(@evening_load) %></th>
      </tr>
      <tr>
        <td style="background-color: <%= m_load < 0 ? "crimson" : "green"%>" ><%= m_load %></td>
        <td><%= n_load %></td>
        <td><%= e_load %></td>
      </tr>
    </table>
      <%= form_tag ({action: :set_load}) do %>

          <%= submit_tag("Save Loads Distribution") %>
          <%= hidden_field_tag(:delivery_date, @selected_date) %>

          <table class="table table-hover">
            <thead>
                <tr>
                  <th>M</th>
                  <th>N</th>
                  <th>E</th>
                  <th>Action</th>
                  <th>City</th>
                  <th>Address</th>
                  <th>Volume</th>
                  <th>Client Name</th>
                  <th>Client Phone</th>
                  <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <%= render partial: "orders", locals: {orders: @unassigned_orders} %>
                <%= render partial: "orders", locals: {orders: @morning_orders} %>
                <%= render partial: "orders", locals: {orders: @afternoon_orders} %>
                <%= render partial: "orders", locals: {orders: @evening_orders} %>
            </tbody>
          </table>
      <% end %>
  </div>
</div>

