<% content_for :navigation do%>
    <%= link_to "Back to Orders", orders_path(selected_date: @order.desired_date), class: "btn btn-default" %>
<% end %>

<%= render partial: 'common/errors', object: @errors %>
<h3>Create Delivery Order:</h3>
<%= form_tag({action: :create}, role: "form", class: "form-horizontal") do %>

    <%= render partial: 'order_form', locals: {order: @order} %>


    <%= submit_tag "Create Order", class: "btn btn-success" %>
<% end %>