<!DOCTYPE html>
<html lang="en">
<head>
  <title>Delivery Loads Manager</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>

    <div class="container">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-10">
            <h1>Delivery Loads Manager</h1>
          </div>
          <div class="col-sm-2" align="right">
            <%
               user_id = session[:user]
               if !user_id.nil?
             %>
                <span class="glyphicon glyphicon-user">&nbsp<b><%= User.find(user_id).login %></b></span>
                <br/>
                <%= link_to 'Sign Out &nbsp<span class="glyphicon glyphicon-log-out"></span>'.html_safe, {controller: 'auth', action: 'signout'}, class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <%= yield :navigation %>
        </div>
        <div class="col-sm-10">
          <%= yield %>
        </div>
      </div>

    </div>

</body>
</html>
